:root {
  --primary: black;
  --secondary: #145434;

  font-family: 'Space Grotesk', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 60px;
  border-bottom: 1px solid var(--secondary);
  display: flex;
  justify-content: space-around;

  .header-container {
    height: 60px;
    width: 98%;

    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      font-size: 36px;
      font-weight: 600;
      color: var(--secondary);

      flex: 3;
    }
  }
}

.card {
  margin: 12px;
  padding: 8px;
  max-width: 400px;
  width: 80%;
  height: 260px;

  background-color: var(--secondary);
  color: var(--primary);

  display: flex;
  flex-direction: column;
  /*  gap: 60px; */
  align-items: center;

  position: relative;

  .number {
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: 24px;
    color: var(--secondary);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -20px;
    left: -20px;
  }

  .text-container {
    padding: 40px;

    height: 100%;
    width: 80%;

    .title {
      font-size: 36px;

      margin-bottom: 50px;
    }

    .inner-container {
      padding-top: 15px;
      border-top: 1px solid var(--primary);

      height: 100%;
      width: 100%;

      .sub {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .text {
        font-size: 18px;
      }
    }
  }

  button {
    height: 50px;
    width: 200px;

    background-color: var(--primary);
    color: var(--secondary);

    border: 2px solid var(--secondary);

    display: flex;
    align-items: center;

    position: absolute;
    bottom: -12px;
    right: -12px;

    .button-text {
      font-size: 14px;
      flex: 4;
    }

    .material-icons {
      font-size: 36px;
      color: var(--secondary);
    }

    &:hover {
      background-color: var(--secondary);
      color: var(--primary);
      border: 2px solid var(--primary);

      .material-icons {
        color: var(--primary);
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .title {
    margin-bottom: 20px;
  }
}
